body {
	background-color: white;
	color: black;
}
canvas {
	border: 1px solid black;
	background-color: gray;
	position: absolute;
	left: 540px;
	top: 200px;
}

#startModal { 
	position: fixed;
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
/*	background-image: url(http://24.media.tumblr.com/36e544b3c915e015d98aa6e207716623/tumblr_n4wnen0SpZ1sgg3dvo1_500.gif);*/
/*	background-repeat: no-repeat;
	background-position: center;*/
	font-family: 'Press Start 2P', cursive;
}
#startLogo {
	text-align: center;
	margin-top: 60px;
	font-family: 'Press Start 2P', cursive;
	color: gold;
	font-size: 60px;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: brown;
}

#startButton {
	position: absolute;
	text-align: center;
	margin-top: 190px;
	margin-left: 590px;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	background-color: Transparent;
	border: none;
	cursor: pointer;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: gold;
}

#instructions {
	font-size: 12px;
	text-align: center;
	margin-top: 0px;
	font-family: 'Press Start 2P', cursive;
	color: red;
	font-size: 20px;
/*	-webkit-text-stroke-width: 1px;*/
/*	-webkit-text-stroke-color: brown;*/
}

#streetew {
	background-color: gray;
	position: absolute;
	width: 1420px;
	height: 200px;
	top: 200px;
}
#houseseast {
	position: absolute;
	top: 440px;
	left: 290px;
}
#houseswest {
	position: absolute;
	top: 440px;
	left: 930px;
}

/*Buttons are within controls div*/
.controls {
	position: fixed;
}
.title {
	position: fixed;
}
#timer {
	position: fixed;
	top: 60px;
	font-family: 'Press Start 2P', cursive;
	color: black;
	font-size: 25px;
}
#score {
	position: fixed;
	top: 155px;
	font-family: 'Press Start 2P', cursive;
	color: black;
	font-size: 25px;
}

.buttons {
	position: fixed;
	top: 645px;
	left: 665px;
}

#left {
	position: fixed;
	bottom: 65px;
	left: 655px;
}

#right {
	position: fixed;
	bottom: 65px;
	left: 705px;
}

#speed {
	position: fixed;
	right: 10px;
	top: 50px;
}

#wobble {
	position: fixed;
	right: 10px;
	top: 85px;
}

.speed {
	position: fixed;
	right: 80px;
	top: 70px;
}

.wobble {
	position: fixed;
	right: 150px;
	top: 105px;
}

.modalLose {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-image: url(https://media.giphy.com/media/Vg55MibrgumyavgPTA/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Press Start 2P', cursive;
  color: gold;
  font-size: 50px;
}

.modalWin {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-image: url(https://data.whicdn.com/images/319240465/original.gif);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Press Start 2P', cursive;
  color: gold;
  font-size: 80px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#gameOver {
	text-align: center;
	margin-top: 60px;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: brown;
}

#gameWon {
	text-align: center;
	margin-top: 80px;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: brown;
}

