body {
	background-color: white;
	color: black;
}

/*Buttons are within controls div*/
#controls {
	position: fixed;
}
.buttons {
	position: absolute;
	top: 645px;
	left: 665px;
}


#street {
	color: gray;
	font-family: 'Roboto', sans-serif;
	font-size: 2500px;
	position: absolute;
	top: 25px;
	right: 25;
}

.skateboard {
	border-radius: 50%;
	position: fixed;
	background-color: black;
	height: 70px;
	width: 25px;
	bottom: 100px;
	left: 700px;
}

#left {
	position: absolute;
	bottom: 35px;
	right: 55px;
}

#right {
	position: absolute;
	bottom: 35px;
	left: 45px;
}

#speed {
	position: fixed;
	right: 10px;
	top: 50px;
}

#wobble {
	position: fixed;
	right: 10px;
	top: 85px;
}

.speed {
	position: fixed;
	right: 80px;
	top: 70px;
}

.wobble {
	position: fixed;
	right: 150px;
	top: 105px;
}




