body {
	background-color: white;
	color: black;
}
canvas {
	border: 1px solid black;
	background-color: gray;
	position: absolute;
	left: 540px;
	top: 200px;
}

#streetns {
	/*background-color: gray;
	position: absolute;
	width: 350px;
	height: 900px;
	left: 540px;
	top: 200px;*/
}
#streetew {
	background-color: gray;
	position: absolute;
	width: 1420px;
	height: 200px;
	top: 200px;
}
#houseseast {
	position: absolute;
	top: 440px;
	left: 290px;
}
#houseswest {
	position: absolute;
	top: 440px;
	left: 930px;
}

/*Buttons are within controls div*/
.controls {
	position: fixed;
}
.title {
	position: fixed;
}
#timer {
	position: fixed;
	top: 60px;
}
#score {
	position: fixed;
	top: 95px;
}

.buttons {
	position: fixed;
	top: 645px;
	left: 665px;
}


/*.skateboard {
	border-radius: 50%;
	position: fixed;
	background-color: black;
	height: 70px;
	width: 25px;
	bottom: 100px;
	left: 700px;
}*/

#left {
	position: fixed;
	bottom: 65px;
	left: 655px;
}

#right {
	position: fixed;
	bottom: 65px;
	left: 705px;
}

#speed {
	position: fixed;
	right: 10px;
	top: 50px;
}

#wobble {
	position: fixed;
	right: 10px;
	top: 85px;
}

.speed {
	position: fixed;
	right: 80px;
	top: 70px;
}

.wobble {
	position: fixed;
	right: 150px;
	top: 105px;
}




